DATABASE_URL=postgresql://prism:prism@localhost:5433/prism_club?schema=public
DATABASE_URL_TEST=postgresql://prism:prism@localhost:5433/prism_club_test?schema=public

API_PORT=3000
NODE_ENV=development
